node_modules/
dist/
.env
target/
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
.android/
.azure/
.azure-kubelogin/
.docker/
.cache/
.conda/
.config/
.dotnet/
.eclipse/
.jupyter/
.kube/
.ipynb_checkpoints/
.VirtualBox/
.gitconfig
